:root {
    --color-primary: #000;

    --color-bg-1: #f4f0ee;
    --color-bg-2: #ced9e0;
    --color-bg-3: #f4f0ee;
    --color-bg-4: #e3d1e4;
    --color-bg-5: #f4f0ee;
    --color-bg-6: #c6cdb3;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --border: 1px solid #f4f2f2;
}
