@import "colors";
@import "typography";

/**
* Breakpoints
**/

$bp-largest: 75rem;  //1200px
$bp-large: 68rem;  //1100px
$bp-medium: 56.25rem;  //900px
$bp-small: 37.5rem;  //600px
$bp-smallest: 31.25rem;  //500px
