.section{
    padding: 6.5rem 2rem;
    @media only screen and (max-width: $bp-medium){
        padding: 5rem 0;
    }
    &__content{
        max-width: 120rem;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: $bp-medium){
            flex-direction: column;
            margin: 0;
            max-width: 100%;
            width: 100%;
        }
    }
    &--1{
        background-color: var(--color-bg-1);
        img{
            
            @media only screen and (min-width: $bp-medium){
                max-width: 50%;
            }
        }
        .section__content{
            @media only screen and (max-width: $bp-largest){
                height: auto;
                align-items: flex-end;
            }
        }
        &__image{
            margin: 1.5rem 0;
            @media only screen and (max-width: $bp-medium){
                max-width: 90%
            }
        }
        &__logo{
            margin: -20rem 0 1.5rem;
            @media only screen and (max-width: $bp-medium){
                max-width: 80%;
                margin: 1.5rem auto;
            }
        }
    }
    &--2{
        background-color: var(--color-bg-2);
        img, h2 {
            max-width: 50%;
            @media only screen and (max-width: $bp-medium){
                max-width: 100%;
            }
        }
        h2{
            padding-left: 12rem;
        }
        @media only screen and (max-width: $bp-medium){
            img {
                order: 2;
                max-width: 90%;
            }
            h2 {
                order: 1;
                padding-left: 3rem;
                max-width: 100%;
            }
            .section__content{
                align-items: flex-start;        
            }
        }
    }
    &--3{
        background-color: var(--color-bg-3);
        img, &__text {
            max-width: 50%;
            @media only screen and (max-width: $bp-medium){
                max-width: 100%;
            }
        }
        img {
            @media only screen and (max-width: $bp-medium){
                max-width: 90%;
            }
        }
        &__text{
            padding-right: 22rem;
            @media only screen and (max-width: $bp-medium){
                padding: 3rem;
            }
        }
        @media only screen and (max-width: $bp-medium){
            .section__content{
                align-items: flex-end;        
            }
        }
    }
    &--4{
        background-color: var(--color-bg-4);
        .section__content{
            flex-direction: column;
            text-align: center;
            max-width: 60rem;
            @media only screen and (max-width: $bp-medium){
                padding: 0 2rem;
            }
        }
        &__links{
            margin-top: 2rem;
            p {
                font-family: 'Headings';
                font-size: 3.2rem;
                line-height: 1.69;
                @media only screen and (max-width: $bp-medium){
                    font-size: 2.2rem;
                }
            }
        }
    }
    &--5{
        background-color: var(--color-bg-5);
        .section__content{
            flex-direction: column;
            text-align: center;
        }
        h2{
            max-width: 60rem;
        }
        @media only screen and (max-width: $bp-medium){
           p{
            padding: 0 2rem;
           } 
        }
        &__form{
            max-width: 90%;
            width: 48rem;
            margin-bottom: 9rem;
            margin-top: 4rem;
            position:relative;
            @media only screen and (max-width: $bp-medium){
                margin-bottom: 4rem;
            }
            input, textarea, button {
                width: 100%;
                margin-bottom: 1.1rem;
                border-radius: 0;
                border: 0;
                padding: 1.4rem;
                font-size: 1.6rem;
                color: var(--color-grey-dark-2);
                background-color: #fff;
                font-family: 'Headings';
                &:focus{
                    outline: 0;
                    color: #000; 
                    &::placeholder{
                        color: #000;  
                    }
                }
                &:valid{
                    color: #000;
                }
            }
            input {
                height: 5rem;
            }
            textarea {
                height: 20rem;
                margin-bottom: 3rem;
            }
            button {
                border: 1px solid #000;
                background: 0;
                transition: all 0.15s ease-in-out;
                box-sizing: border-box;
                cursor: pointer;
                &:hover {
                    background: #000;
                    border-color: #000;
                    color: #fff;
                }
            }

            .wpforms-field-hp {
                visibility: hidden;
                height: 0;
            }
            label.wpforms-error {
                font-size: 10px;
                color: red;
                position: absolute;
                right: 5px;
            }
            .wpforms-confirmation-scroll {
                background: #fff;
                padding: 30px;
                margin: 30px;
                color: #000;
            }
        }
        &__cta{
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: $bp-medium){
                flex-direction: column;
            }
            & > *{
                width: 282px;
                height: 282px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                font-size: 2.2rem;
                @media only screen and (max-width: $bp-medium){
                    margin-bottom: 2rem;
                }
                strong{
                    display: block;
                    font-family: 'Headings';
                }
            }
            & > *:not(:last-child) {
                margin-right: 7.5rem;
                @media only screen and (max-width: $bp-medium){
                    margin-right: 0;
                }
            }
            &__1{
                background-color: var(--color-bg-2);
            }
            &__3{
                background-color: var(--color-bg-4);
            }
        }
    }
    &--6{
        background-color: var(--color-bg-6);
        h2{
            width: 100%;
            text-align: center;
        }
    }
}